@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');

:root {
  --bg-color: #537895;
  --bg-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  --default-font-color: #f9758f;
  --border-radius-size: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  font-size: 18px;
}

.main-content-header {
  border-radius: 12px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  height: 65px;
  -webkit-box-shadow: 4px 4px 12px -3px rgba(0,0,0,0.56); 
  box-shadow: 4px 4px 12px -3px rgba(0,0,0,0.56);
}

.main-content-header > h1{
  padding-left: 35px;
  padding-top: 8px;
  color: white;

} 

img {
  fill: var(--default-font-color);
  width: 35px;
  height: 35px;
  padding-left: 5px;
  margin-top: -5px;
}

.container {
  height: 65px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56); 
  box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56);
}

.header {
  height: 55px;
  margin-top: 25px;
  border-radius: var(--border-radius-size);
  background-color: white;
  -webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56); 
  box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56);
}

.side-panel {
  margin-top: 25px;
  margin-left: -13px;
  border-radius: var(--border-radius-size);
  background-color: white;
  -webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56); 
  box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56);
}

.main-panel {
  margin-top: 25px;
  margin-right: -12px;
  border-radius: var(--border-radius-size);
  background-color: white;
  -webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56); 
  box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56);
  width: 100%;
}

.padder {
  list-style-type: none;
  
}

li {
  color: var(--default-font-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  margin-left: 8px;
}

li > .disabled {
  color: grey;
  opacity: 0.5;
}

li:hover {
  border-radius: 12px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  color: white;
  margin-right: 13px;
  -webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56); 
  box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56);
}

ul {
  padding-top: 15px;
  padding-bottom: 15px;
}

.push-to-left-panel {
  margin-left: -28px;
}

.push-to-left-panel i {
  margin-right: 20px;
}    

.push-to-left-panel-disabled {
  margin-left: -28px;
}

.push-to-left-panel-disabled i {
  margin-left: -28px;
}

.footer-panel {
  height: 55px;
  margin-top: 25px;
  margin-left: -15px;
  margin-right: -12px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56); 
  box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56);
  margin-bottom: 25px;
}

.footer-panel-content {
  padding-top: 12px;
  margin-left: 33px;
}

.main-panel-content {
  padding: 25px 45px 25px 45px;
  width: 100%;
  word-wrap: break-word;
}

.button-logout {
  width: 125px;
  height: 35px;
  border-radius: 12px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  font-size: 17px;
  color: white;
  border: 0;
  margin-left: 10px;
}

.button-logout:hover {
  -webkit-box-shadow: 4px 4px 16px -3px rgba(0,0,0,0.56); 
  box-shadow: 4px 4px 16px -3px rgba(0,0,0,0.56);
}

a {
  text-decoration: none;
}

.button-action {
  width: 85px;
  height: 25px;
  border-radius: 8px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  font-size: 12px;
  color: white;
  border: 0;
  margin-left: 10px;
}

.button-action:hover {
  -webkit-box-shadow: 2px 2px 12px -3px rgba(0,0,0,0.56); 
  box-shadow: 2px 2px 12px -3px rgba(0,0,0,0.56);
}

.container {
  min-width: 1280px;
}

.login-box {
  width: 20%;
  margin: auto;
  background: white;
  border-radius: 12px;
  margin-top: 125px;
  -webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56); 
  box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56);
}

.login-container {
  padding: 30px 30px 30px 30px;
}

.button-login-style { 
  background:var(--bg-color);;
  background-image: var(--bg-image);
  border-radius: 12px;
  border: none;
}

.button-login-style:hover { 
  background:var(--bg-color);;
  background-image: var(--bg-image);
  border-radius: 12px;
  border: none;
  -webkit-box-shadow: 2px 2px 11px -3px rgba(0,0,0,0.56); 
  box-shadow: 2px 2px 11px -3px rgba(0,0,0,0.56);
}