@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

:root {
  --bg-color: #537895;
  --bg-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  --default-font-color: #f9758f;
  --border-radius-size: 16px;
}

body {
  /* font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Nunito', sans-serif;
  background-color: white;
  font-size: 18px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.my-content {
  width: 100%;
  border-radius: 24px;
  background-color: #f2f2f2;
  padding: 30px 30px 30px 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/*
@media (min-width: 544px) {  
  body {font-size: 0.25rem;}
}
 
@media (min-width: 768px) {  
  body {font-size: 0.5rem;}
}
 
@media (min-width: 992px) { 
  body {font-size:0.75rem;}
}
 
@media (min-width: 1200px) {  
  body {font-size:1.0rem;}
}
*/

.main-content-header {
  height: 35px;
  margin-top: 25px;
  border-radius: 12px;
  background-color: var(--bg-color);
  font-size: 14px;
}

.main-content-header > h1{
  padding-left: 25px;
  color: white;
  font-size: 18px;
  padding-top: 5px;

} 

img {
  fill: var(--default-font-color);
  width: 35px;
  height: 35px;
  padding-left: 5px;
  margin-top: -5px;
}

.container {
  height: 65px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: white;
}

.header {
  height: 55px;
  border-radius: var(--border-radius-size);
  background-color: white;
}

.side-panel {
  margin-top: 25px;
  margin-left: -13px;
  border-radius: var(--border-radius-size);
  background-color: white;
  top: 25px;
}

.main-panel {
  margin-top: 5px;
  margin-bottom: 35px;
  margin-right: -12px;
  border-radius: var(--border-radius-size);
  background-color: white;
  width: 100%;
}

.main-panel-content {
  padding: 35px 55px 35px 55px;
  width: 100%;
  word-wrap: break-word;
}

.main-panel-content-box {
  width: 100%;
  display: inline-block;
  margin-bottom: 25px;
}

.add-button {
  float: right;
  width: 100px;
  height: 40px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  border-radius: 6px;
  color: white;
  text-decoration: none;
}

.main-panel-content-box .add-button:hover {
  -webkit-box-shadow: 2px 2px 16px -3px rgba(0,0,0,0.56); 
  box-shadow: 2px 2px 16px -3px rgba(0,0,0,0.56);
}

.main-panel-content-box .add-button .items {
  padding-top: 6px;
  padding-left: 24px;
  text-decoration: none;
  color: white;
}

.main-panel-content h1 {
  font-size: 26px;
  color: var(--default-font-color);
  display: inline-block;
}

.padder {
  list-style-type: none;
  
}

li {
  color: var(--default-font-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  margin-left: 8px;
}

li > .disabled {
  color: grey;
  opacity: 0.5;
}

li:hover {
  border-radius: 12px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  color: white;
  margin-right: 13px;
  -webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56); 
  box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56);
}

ul {
  padding-top: 15px;
  padding-bottom: 15px;
}

.push-to-left-panel {
  margin-left: -28px;
}

.push-to-left-panel i {
  margin-right: 20px;
}    

.push-to-left-panel-disabled {
  margin-left: -28px;
}

.push-to-left-panel-disabled i {
  margin-left: -28px;
}

.footer-panel {
  height: 55px;
  margin-top: 25px;
  margin-left: -15px;
  margin-right: -12px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56); 
  box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56);
  margin-bottom: 25px;
}

.footer-panel-content {
  padding-top: 12px;
  margin-left: 33px;
}

.button-logout {
  width: 125px;
  height: 35px;
  border-radius: 6px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  font-size: 17px;
  color: white;
  border: 0;
  margin-left: 10px;
}

.button-logout:hover {
  -webkit-box-shadow: 4px 4px 16px -3px rgba(0,0,0,0.56); 
  box-shadow: 4px 4px 16px -3px rgba(0,0,0,0.56);
}

a {
  text-decoration: none;
}

.button-action {
  width: 85px;
  height: 25px;
  border-radius: 8px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  font-size: 12px;
  color: white;
  border: 0;
  margin-left: 10px;
}

.button-action:hover {
  -webkit-box-shadow: 2px 2px 12px -3px rgba(0,0,0,0.56); 
  box-shadow: 2px 2px 12px -3px rgba(0,0,0,0.56);
}

.container {
  min-width: 1280px;
}

.login-box {
  width: 40%;
  margin: auto;
  background: white;
  border-radius: 12px;
  margin-top: 125px;
  -webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56); 
  box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.56);
}

textarea {
  width: 300px;
  height: 300px;
}

.login-container {
  padding: 30px 30px 30px 30px;
}

.button-login-style { 
  background:var(--bg-color);;
  background-image: var(--bg-image);
  border-radius: 12px;
  border: none;
}

.button-login-style:hover { 
  background:var(--bg-color);;
  background-image: var(--bg-image);
  border-radius: 12px;
  border: none;
  -webkit-box-shadow: 2px 2px 11px -3px rgba(0,0,0,0.56); 
  box-shadow: 2px 2px 11px -3px rgba(0,0,0,0.56);
}

.td-set-padding {
  padding-top: 15px 15px 15px 15px;
}



table.custom_table {
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

.custom_table > thead > tr {
  font-size: 14px;
  border-bottom: 2px solid red;
}

.custom_table > thead > tr > th {
  padding: 15px 65px 15px 65px;
  text-transform: uppercase; 
}

.custom_table > tbody > tr {
  background-color: #e5e5e5;
  font-size: 14px;
  margin-top: 15px;
  height: 55px;
}

.custom_table > tbody > tr > td {
  padding: 15px 65px 15px 65px;
  text-transform: none;
  font-size: 18px;
}

.main-panel-content-item {
  width: 100%;
  -webkit-box-shadow: 2px 2px 11px -3px rgba(0,0,0,0.56); 
  box-shadow: 2px 2px 11px -3px rgba(0,0,0,0.56);
  border-radius: 12px;
  margin-bottom: 30px;
}

.main-panel-content-item-padding {
  padding: 15px 15px 15px 15px;
  text-align: center;
}

.main-panel-content-item-padding > h4 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.main-panel-content-item-padding > url-path {
  text-transform: lowercase;
  font-size: 16px;
  padding-bottom: 5px;
  margin-top: 5px;
}

.main-panel-content-item-padding > description {
  font-size: 12px;
  padding-top: 5px;
}

.centred-elements {
  margin: auto;
  width: 100%;
  height: 50px;
  padding-top: 25px;
}

.button-styler {
  margin-top: 25px;
  width: 80px;
  height: 25px;
  background:var(--bg-color);;
  background-image: var(--bg-image);
  color: white;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 6px;
}

.button-styler-no-margin {
  width: 80px;
  height: 25px;
  background:var(--bg-color);;
  background-image: var(--bg-image);
  color: white;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 6px;
}

.circle-button:hover {
  -webkit-box-shadow: 2px 2px 11px -3px rgba(0,0,0,0.56); 
  box-shadow: 2px 2px 11px -3px rgba(0,0,0,0.56);
}

.circle-button > i {
  margin-left: 2px;
  margin-top: 12px;
}

.menu-type {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    color: white;
    font-size: 14px;
    
}

.menu-type > red {
  padding: 5px 15px 5px 15px;
  background:var(--bg-color);;
  background-image: var(--bg-image);
  border-radius: 7px;
}

.menu-type > blue {
  padding: 5px 15px 5px 15px;
  background: #537895;
  background-image: linear-gradient(to right, #4b6cb7 0%, #182848 100%);
  border-radius: 7px;
}

.td-text-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}